* {
    box-sizing: border-box;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
}
.container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
    flex: 1 0 auto;
}